body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightgoldenrodyellow;
    height: 100%;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}